*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    background-color: black;
}
/* BASE */
body{
    
    background-image: url(img/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* ::-webkit-scrollbar               */
/* ::-webkit-scrollbar-button        */
/* ::-webkit-scrollbar-track         */
/* ::-webkit-scrollbar-track-piece   */
/* ::-webkit-scrollbar-thumb         */
/* ::-webkit-scrollbar-corner        */
/* ::-webkit-resizer                 */
::-webkit-scrollbar{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: #555;
    border-radius: 15px;
    transition: 2s;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgba(131,96,195,1) 0%, rgba(102,125,182,1) 50%, rgba(46,191,145,1) 100%);
    transition: 2s;
  }

/* Barra Superior */
/* .IndicatorBar{
    background-color: #3983fa;
    border-radius: 0.4rem;
    height: 5px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: -webkit-transform 50ms cubic-bezier(.45,.05,.55,.95) 0ms;
    transition: transform 50ms cubic-bezier(.45,.05,.55,.95) 0ms;
    transition: transform 50ms cubic-bezier(.45,.05,.55,.95) 0ms,-webkit-transform 50ms cubic-bezier(.45,.05,.55,.95) 0ms;
    width: 100vw;
} */


/* header */
.header{
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.9);
    z-index: 99;
}
.tags :hover{
    scale: 1.2;
    color: burlywood;
    transition: 500ms;
}
.tags{
    display: flex;
    gap: 15px;
    transition: 500ms;
}
.tags a{
    text-decoration: none;
    color: aliceblue;
    transition: 500ms;
}
.header h1{
    text-shadow: 0px 0px 10px azure;   
    font-family: 'Bebas Neue', cursive;;
}
/* ------------------------------------------------------------- */
/* main */
#main{
    /* height: 1080px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.83);
    gap: 15px;
}
/* Primeira Parte */



#main p{
    color: azure;
}
#main h2{
    color: azure;
}
#main h1{
    color: azure;
}
#main p{
    width: 60%;
    border: 60%;
}
#sobre{
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    gap: 15px;
    align-items: center;
    border-radius: 50px;
}



.teste {
    height: 202px;
    width: 202px;
    display: block;
    transition: 2s;
}
#main .sobre a{
    height: 202px;
    width: 202px;
    align-items: center;
    display: grid;
    place-items: center;
    justify-content: center;
    margin: 50px;
    transition: 2s;
}


.BackImg{
    position: relative;
    height: 210px;
    width: 210px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 5;
    /* transition: 2s; */
}
.BackImg::before{
    content: '';
    position: absolute;
    height: 210px;
    width: 210px;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 255, 255));
    animation: rotate 2s linear infinite;
    z-index: 5;
}
.BackImg::after{
    content: '';
    position: absolute;
    height: 210px;
    width: 210px;
    background-image: conic-gradient(transparent, transparent, transparent, rgba(177,113,69,1));
    animation: rotate 2s linear infinite;
    animation-delay: -1s;
    z-index: 4;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#main .BackImg :hover{
    position: relative;
    height: 207px;
    width: 207px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 5;
    transition: 2s;
}

#sobre img{
    scale: 0.7;
    border-radius: 100%;
    transition: 500ms;
    position: absolute;
    z-index: 10;
    transition: 700ms;
}
#sobre h1{
    font-family:  'Chivo Mono', monospace;;
}
.content{
    width: 75vw;
    /* height: 835px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}
#github{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    z-index: 5;
}
.IMGGithub{
    max-width: 100%;
}
#git{
    position: relative;
    border-radius: 15px;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 5;
}
.test2 iframe{
    scale: 100%;
}
.test2{
    background-color: black;
    z-index: 10;
    height: 98%;
    width: 99%;
    border-radius: 15px;
    align-items: center;
}
#git::before{
    content: '';
    position: absolute;
    height: 2000px;
    width: 300vw;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 255, 255));
    animation: rotate 2s linear infinite;
    z-index: 5;
}
#git::after{
    content: '';
    position: absolute;
    height: 2000vh;
    width: 300vw;
    background-image: conic-gradient(transparent, transparent, transparent, rgba(177,113,69,1));
    animation: rotate 2s linear infinite;
    animation-delay: -1s;
    z-index: 4;
}
#github h1{
    margin-bottom: 30px;
}
#Gd{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    z-index: 5;
}
.Gd2{
    width: 75vw;
    position: relative;
    border-radius: 15px;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 5;
}
.Gd2::before{
    content: '';
    position: absolute;
    height: 2000vh;
    width: 300vw;
    display: grid;
    place-items: center;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 255, 255));
    animation: rotate 2s linear infinite;
    z-index: 5;
}
.Gd2::after{
    content: '';
    position: absolute;
    height: 2000vh;
    width: 300vw;
    display: grid;
    place-items: center;
    background-image: conic-gradient(transparent, transparent, transparent, rgba(177,113,69,1));
    animation: rotate 2s linear infinite;
    animation-delay: -1s;
    z-index: 4;
}
#Proj{
    height: 98%;
    width: 99%;
    /* position: relative; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    z-index: 5;
    background-color: black;
}
#Proj h1{
    margin-bottom: 30px;
}
#Proj h3{
    color: aliceblue;
}



/*  -------------------------------------- Carrosel --------------------------------------*/ 
.slider{
    overflow: hidden;
    width: 500px;
    
}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}
.slider-item{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-item a{
    width: 500px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;


}
/*  ------------------------------------------------------------------------------------------------------------------*/
.info{
    width: 100%;
    display: flex;
    justify-content: center;
    /* gap: 15px; */
    flex-wrap: wrap;
}
#info{
    width: 75%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp{
    width: 50%;
    height: 350px;
    max-height: 1100px;
    border-radius: 15px;
    background: rgb(28,146,210);
    background: linear-gradient(180deg, rgba(177,113,69,0.5) 0%, rgba(160,95,73,0.5) 29%, rgba(28,146,210,0.5) 76%, rgba(0,212,255,0.5) 100%);

    align-items: center;
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.imgbox{
    display: flex;
}
.imgbox img{
    height: 75px;
    width: 75px;
    scale: 0.75;
}
.TextBox{
    margin: 15px;
}
.exp h3{
    color: rgb(204, 204, 204);
    font-family: 'Roboto Slab', serif;
}
.exp h4{
    color: rgb(204, 204, 204);
}
.exp h5{
    color: rgb(204, 204, 204);
    font-family: 'Playfair Display', serif;
}


.ButtonToTop{
    height: 100px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: rgb(0,0,0,0.9);
}
.ButtonToTop a {
    text-decoration: none;
    color: aliceblue;
}
.material-symbols-outlined{
    scale: 2;
    background-color: black;
    color: aliceblue;
    margin: 10px;
    border-radius: 100%;
}
/* ------------------------------------------------------------- */
/* footer */
.footer{
    width: 100%;
    background: linear-gradient(90deg, rgba(131,96,195,1) 0%, rgba(102,125,182,1) 50%, rgba(46,191,145,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#FooterContent{
    width: 75vw;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
#FooterContent a{
    height: 52px;
    width: 52px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px;
}
.Contato div{
    display: flex;
    /* justify-content: center; */
    gap: 15px;
    margin: 25px;
}
.Contato img{
    width: 20px;
}
